.dashboard-container{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.dashboard-container #featured{
    width: 100%;
}
.btn.dashboard-detail{
    position:absolute;
    bottom:2%;
    right:2%;
}