<p class="detail">This is the partial for movie.</p>
<button ng-click="initializeMoviesByGenre()" class="btn btn-default">I'm feeling lucky ;)</button>
<div ng-repeat="genre in moviesByGenre | limitTo:quantity" ng-if="verifyEmptyGenre(genre)">
    <div id="featured" class="col-md-10">
        <h2>{{genres[$index].name}}</h2>
        <slick settings="slickFeatureConfig" data="featured" center-mode="false">
            <div class="overlay-image" image-overlay ng-repeat="movie in genre.results">
                <div class="overlay" id="overlay-feature-{{$index}}">
                    <h2>{{movie.trackName || movie.collectionName}}</h2>
                    <iframe id="feature-{{$index}}" ob-lazytube width="95%" height="50%"
                            src="{{movie.previewUrl|trusted}}" seamless frameborder="0" allowfullscreen
                            enablejsapi="1"></iframe>
                    <p ng-bind-html="movie.longDescription|cut:true:300:'...'|htmlToPlaintext|unicode"></p>
                    <a href="#/movies/{{movie.trackId}}" class="btn btn-default" ng-click="selectMovie(movie)">View
                        details</a>
                </div>
                <img ng-src="{{movie.artworkUrl100}}">
            </div>
        </slick>
    </div>
</div>