<div class="panel">
    <div class="ajax-loading" ng-if="isLoading">
        <img src="img/cat-mouse_Transparent.gif">
    </div>
    <div class="panel-body" ng-if="!isLoading">
        <div class="detail header">
            <h2>{{movie.trackName}} <a href="{{movie.trackViewUrl}}"> <img ng-src="img/itunes.svg"/></a>
                <span class="pull-right">
                    <user-watchlist-dropdown></user-watchlist-dropdown>
                <back-button></back-button>
                </span>
            </h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <div class="detail preview">
                    <youtube-preview movie="{{movie.trackName}}"></youtube-preview>
                    <iframe ob-lazytube width="95%" height="50%" src="{{movie.previewUrl|trusted}}" seamless
                            frameborder="0" allowfullscreen autoplay="true"></iframe>
                </div>
                <div class="detail description">
                    <ul>
                        <li><h3>{{movie.trackName}}</h3></li>
                        <li><label>Duration </label> <span>{{movie.trackTimeMillis| duration}}</span></li>
                        <li><label>Genre</label> <span>{{movie.primaryGenreName}}</span></li>
                        <li><label>Release date</label> <span>{{movie.releaseDate | date:medium}}</span></li>
                        <li><label>Director</label> <span>{{movie.artistName}}</span></li>
                        <li><label>Rating</label> <span>{{movie.contentAdvisoryRating}}</span></li>
                        <li><label>Description</label>

                            <p ng-bind-html="movie.longDescription|htmlToPlaintext|unicode"></p></li>
                    </ul>
                    <price-toggle></price-toggle>
                    <h4 class="detail price" ng-if="!isHdPriceSelected">Price SD <span>{{movie.trackPrice}}$ {{movie.currency}}</span>
                    </h4>
                    <h4 class="detail price" ng-if="isHdPriceSelected">Price HD <span>{{movie.trackHdPrice}}$ {{movie.currency}}</span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                  <script>
                  var scrolled=0;
                  $("#downClick").on("click" ,function(){
                    if($("#inner-comment").scrollTop() + $("#inner-comment").innerHeight()>=$("#inner-comment")[0].scrollHeight)
                    {}else{scrolled = scrolled+200;}
                      $("#inner-comment").animate({scrollTop:  scrolled});
                  });
                  $("#upClick").on("click" ,function(){
                    scrolled = scrolled - 200;
                    if(scrolled <= 0){scrolled = 0;}
                      $("#inner-comment").animate({scrollTop:  scrolled});
                    });
                  </script>
                    <form name="commentForm" role="form" ng-submit="addComment(userComment)">
                      <h3> Wanna make a comment?! </h3>
                      <div class="form-group">
                        <textarea rows="5" class="form-control resize-none" id="commentTextArea" type="text" name="message" required ng-model="userComment"/>
                        <div class="top-buffer-15">
                          <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Add comment</button>
                        </div>
                      </div>
                    </form>

                    <div class="button-fixed btn-comment" ng-show="movieComments.length">
                        <button id="upClick" class="invisible-button"><img src="/img/up-arrow.png" height="35"/></button>
                    </div>

                    <div id="inner-comment">
                      <div ng-repeat="comment in movieComments">
                        <div class="row top-buffer-30">
                            <div class="col-md-1">
                              <div display="block">
                                  <img ng-if="!comment.author_picture" class="avatar" gravatar-src="'{{comment.author_email}}'" gravatar-size="75">
                                  <img ng-if="comment.author_picture" class="avatar" ng-src="{{comment.author_picture}}" size="75">
                                <h4>{{comment.author}}</h4>
                              </div>
                            </div>
                            <div class="col-md-11">
                              <div class="dialogbox">
                                <div class="body">
                                  <span class="tip tip-left"></span>
                                  <div class="message">
                                    <span>{{comment.content}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="button-fixed btn-comment" ng-show="movieComments.length">
                        <button id="downClick" class="invisible-button"><img src="/img/down-arrow.png" height="35"/></button>
                    </div>

                </div>

                <div class="col-md-4">
                    <img class="poster-image" ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
                </div>
            </div>
            <div class="row detail section" ng-if="similarMovies.length">
                <h3>You might also like</h3>
                <div class="ajax-loading" ng-if="isLoadingSimilar">
                    <img src="img/cat-mouse_Transparent.gif">
                </div>
                <div ng-if="!isLoadingSimilar">
                    <slick settings="slickFeatureConfig" data="similarMovies" center-mode="true">
                        <div class="overlay-image" image-overlay ng-repeat="movie in similarMovies">
                            <div class="overlay" id="overlay-feature-{{$index}}">
                                <user-watchlist-dropdown class="pull-right"></user-watchlist-dropdown>
                                <a href="#/movies/{{movie.trackId}}" ng-click="selectMovie(movie)">
                                    <h2>{{movie.trackName || movie.collectionName}} </h2></a>
                                <iframe id="feature-{{$index}}" ob-lazytube width="95%" height="50%"
                                        src="{{movie.previewUrl | trusted}}" seamless frameborder="0" allowfullscreen
                                        enablejsapi="1"></iframe>
                                <p ng-bind-html="movie.longDescription|cut:true:200:'...'|htmlToPlaintext|unicode"></p>
                                <a href="#/movies/{{movie.trackId}}" class="btn dashboard-detail"
                                   ng-click="selectMovie(movie)">View
                                    details</a>
                            </div>
                            <img ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
                        </div>
                    </slick>
                </div>
            </div>
        </div>
    </div>
</div>
