<div class="panel">
    <div class="ajax-loading" ng-if="isLoading">
        <img src="img/cat-mouse_Transparent.gif">
    </div>
    <div class="panel-body" ng-if="!isLoading">
        <div class="detail header">
            <h2>{{movie.trackName}} <a href="{{movie.trackViewUrl}}"> <img ng-src="img/itunes.svg"/></a>
                <span class="pull-right">
                    <user-watchlist-dropdown></user-watchlist-dropdown>
                    <a class="glyphicon glyphicon-remove" href="" ng-click="dismiss()"></a>
                </span>
            </h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <div class="detail preview">
                    <youtube-preview movie="{{movie.trackName}}"></youtube-preview>
                    <iframe ob-lazytube width="95%" height="50%" src="{{movie.previewUrl|trusted}}" seamless
                            frameborder="0" allowfullscreen autoplay="true"></iframe>
                </div>
                <div class="detail description">
                    <ul>
                        <li><h3>{{movie.trackName}}</h3></li>
                        <li><label>Duration </label> <span>{{movie.trackTimeMillis| duration}}</span></li>
                        <li><label>Genre</label> <span>{{movie.primaryGenreName}}</span></li>
                        <li><label>Release date</label> <span>{{movie.releaseDate | date:medium}}</span></li>
                        <li><label>Director</label> <span>{{movie.artistName}}</span></li>
                        <li><label>Rating</label> <span>{{movie.contentAdvisoryRating}}</span></li>
                        <li><label>Description</label>
                            <p>{{movie.longDescription|htmlToPlaintext|unicode}}</p></li>
                    </ul>
                    <div class="btn-group" data-toggle="buttons">

                        <button class="btn price-toggle" ng-click="showHdPrice(false, this)">SD Price</button>
                        <button class="btn price-toggle" ng-click="showHdPrice(true, this)">HD Price</button>

                    </div>

                    <h4 class="detail price" ng-hide="isHdPriceSelected">Price SD <span>{{movie.trackPrice}}$ {{movie.currency}}</span>
                    </h4>
                    <h4 class="detail price" ng-show="isHdPriceSelected">Price HD <span>{{movie.trackHdPrice}}$ {{movie.currency}}</span>
                    </h4>
                </div>
            </div>
            <div class="row detail section">
                <div class="detail comments">
                    No comments
                    <div class="comments" ng-repeat="comment in comments">
                    </div>
                </div>
                <div class="detail poster">
                    <img ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
                </div>
            </div>
        </div>
    </div>
</div>