<div class="ajax-loading" ng-show="isLoading">
    <img src="img/cat-mouse.gif">
</div>

<div ng-repeat="movieByGenre in moviesByGenre">
    <div id="featured" class="col-md-10">
        <h2>{{movieByGenre.genre}}</h2>
        <slick settings="slickFeatureConfig"  center-mode="true">
            <div class="overlay-image" image-overlay ng-repeat="movie in movieByGenre.movies">
                <div class="overlay" id="overlay-feature-{{$index}}">
                    <h2>{{movie.trackName || movie.collectionName}}</h2>
                    <iframe id="feature-{{$index}}" ob-lazytube width="95%" height="50%"
                            src="{{movie.previewUrl|trusted}}" seamless frameborder="0" allowfullscreen
                            enablejsapi="1"></iframe>
                    <p ng-bind-html="movie.longDescription|cut:true:300:'...'|htmlToPlaintext|unicode"></p>
                    <a href="#/movies/{{movie.trackId}}" class="btn btn-default" ng-click="selectMovie(movie)">View
                        details</a>
                </div>
                <img ng-src="{{movie.artworkUrl100}}">
            </div>
        </slick>
    </div>
</div>