<div class="panel">
    <div class="ajax-loading" ng-show="isLoading">
        <img src="img/cat-mouse_Transparent.gif">
    </div>
    <div class="panel-body" ng-hide="isLoading">

        <div class="detail header">
            <h2>{{actor.artistName}}
                <a class="btn btn-default" href="{{actor.artistLinkUrl}}">
                    <img src="img/itunes-logo.png" width="75"/>
                </a>
                <a class="glyphicon glyphicon-remove pull-right" href="" ng-click="dismiss()"/>
            </h2>

            <h3>
                <label> Primary genre : </label> <span>{{actor.primaryGenreName}}</span>
            </h3>
        </div>

        <div class="row ">
            <div class="col-md-4">
                <img ng-src="{{actor.image}}" class="img-responsive"/>
            </div>

            <div class="col-md-8 detail-inline">
                <h3>Biography</h3>
                <h5> Birthday: {{actor.birthday}}</h5>
                <h5 ng-show="actor.deathday"> Deathday: {{actor.deathday}}</h5>
                <h5> Place of birth: {{actor.placeOfBirth}}</h5>

                <p ng-bind-html="actor.biography|htmlToPlaintext|unicode"></p>
            </div>
        </div>

        <div class="row dashboard-container">
            <div class="detail section actor" id="featured">
                <h3>Movie</h3>
                <slick settings="slickFeatureConfig" data="movies">
                    <div ng-repeat="movie in movies" class="slick-slide overlay-image" image-overlay>
                        <div class="overlay" id="overlay-movie-{{$index}}">
                            <a href="#/movies/{{movie.trackId}}" ng-click="selectMovie(movie)">
                                <h2 class="movie-title">{{movie.trackName || movie.collectionName}} </h2></a>
                            Release date : {{movie.releaseDate|cut:true:10:' '}}
                            <iframe id="movie-{{$index}}" ob-lazytube width="95%" height="50%"
                                    src="{{movie.previewUrl|trusted}}" seamless frameborder="0" allowfullscreen
                                    enablejsapi="1"></iframe>
                            <p ng-bind-html="movie.longDescription|cut:true:150:'...'|htmlToPlaintext|unicode"></p>
                            <a href="#/movies/{{movie.trackId}}" class="btn dashboard-detail"
                               ng-click="selectMovie(movie)">View
                                details</a>
                        </div>
                        <img ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
                    </div>
                </slick>
            </div>
        </div>
        <!--row-->

    </div>
    <!-- panel body-->
</div><!-- panel -->
