<div class="panel">
  <div class="panel-body">
    <div class="detail header">
      <h2>{{actor.artistName}}
        <a class="btn btn-default" href="{{actor.artistLinkUrl}}">
          <img src="img/itunes-logo.png" width="75"/>
        </a>
        <a class="glyphicon glyphicon-remove pull-right" href="" ng-click="dismiss()"/>
      </h2>
      <h3>
        <label> Primary genre : </label> <span>{{actor.primaryGenreName}}</span>
      </h3>


    </div>

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-4">
          <img ng-src="img/sawyer.jpg" class="img-responsive"/>
        </div>

        <div id="featured" class="col-sm-8 detail description">
          bla
            <slick infinite=true slides-to-show=3 slides-to-scroll=1 init-onload="true" autoplay="true"
                   autoplay-speed="5000" data="featured" variable-width="true">
                <div ng-repeat="feature in featured">
                    <img ng-src="{{featured.artworkUrl100}}">
                </div>
            </slick>
        </div>

      </div><!--row-->

    </div><!--containerFluid-->

  </div><!-- panel body-->
</div><!-- panel -->
