<div class="panel">
    <div class="panel-body" ng-hide="isLoading">
        <div class="detail header">
            <h2>About this project
            </h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <h3>Team 01</h3>


                <li>Maxime Charron</li>
                <li>Pascal Dumoulin</li>
                <li>Antoine Lefrançois</li>
                <li>Jean-Sébastien Roy</li>
                <li>Martin Savoie</li>

            </div>
            <div class="row detail section">
                <h3>Having a problem with the API behind the app? </h3>
                <div>
                    <p>Contact Maxime Charron at <a href="mailto:maxime.charron.4@ulaval.ca?Subject=HELP" target="_top">maxime.charron.4@ulaval.ca</a> so he can get it back on if it's not already done!</p>
                </div>
            </div>
            <div class="row detail section">
                <h3>Functionnality implemented :</h3>
            </div>
            <div class="row detail section">
                <h4>New and improved API :</h4>

                <div>
                    <p>Our API was designed using, of course, the one provided for the course. In addition to the
                        functionnalities already available, we enhanced and added the following elements :</p>
                    <ul>
                        <li>Automated calls to the YouTube API, providing the proper adress for the preview videos
                            directly
                            in the objects returned
                        <ul>
                            <li>
                                To do so, we used an heuristic that makes the call to the Youtube search API with the title of the movie/tv show/episodes and adding "Trailer" to the end of it. It doesn't always get perfect results but it's good enough for this project.
                            </li>
                            </ul>
                        </li>
                        <li>
                            Differents calls to TheMovieDatabase to flesh up the results including actor biography, similar movies, similar tv shows, youtube videos ID, popular movies, popular tv shows, actor pictures
                        </li>
                        <li>
                            Caching of TheMovieDatabase data using MongoDB to avoid busting the 40 calls per 10 seconds quota
                           <ul> <li>
                                To do so, we made a javascript crawler using the js-crawler Node library. The crawler is set to only make 35 calls per 10 seconds to ensure we do not burst the rate limiting imposed by TheMovieDatabase.
                            </li>
                            <li>
                                We used MongoDB with the WiredTiger storage engine to limit as much as possible the space used by all these movies and tvshows.
                            </li></ul>
                        </li>
                        <li>Integration of storage for movies and tv shows reviews</li>
                        <li>API monitoring using NewRelic informing us if any problems occur with the app, so that we
                            can start it back!
                        </li>
                        <li>
                            Integration of Facebook and Google login API
                        </li>
                    </ul>
                    <br/>

                    <p>The source code for the API, if you are interested, is available [free of charge!] Just contact Maxime Charron to gain access to it. </p>

                    <p>The API itself is hosted here : <a
                            href="https://umovie-team01.herokuapp.com">umovie-team01.herokuapp.com</a></p>
                </div>
            </div>
            <div class="row detail section">
                <h4>Hosting :</h4>

                <div>
                    <p>We offer you the opportunity to test this app hosted instead of using localhost. Just go <a href="https://umovie-team01-client.herokuapp.com">here</a>!</p>
                </div>
            </div>
            <div class="row detail section">
                <h4>Movies review :</h4>

                <div>
                    <p>Movies and tv shows reviews are possible by users. Live results/preview are
                        displayed when typing a new review.</p>
                </div>
            </div>
            <div class="row detail section">
                <h4>Similar movies and tvshows suggestions :</h4>

                <div>
                    <p>Extracted from TheMovieDatabase, a new array gives us the possibility to display similar movies and tvshows to the one
                        selected.</p>
                </div>
            </div>
            <div class="row detail section">
                <h4>Search with autocomplete :</h4>

                <div>
                    <p>In the main search bar, autocompletion of search items is provided. The autocompletion queries the iTunes API to get possible completions. </p>
                </div>
            </div>
            <div class="row detail section">
                <h4>Gravatar :</h4>

                <div>
                    <p>If you email is associated wit a proper Gravatar image, it is displayed in the top menu once
                        logged
                        in. If you logged with Facebook or Google, it is instead your profile picture that is used. </p>
                </div>
            </div>
            <div class="row detail section">
                <h4>And much much more (eye candy!) :</h4>

                <div>
                    <p>Many more features were included in this application :</p>
                    <ul>
                        <li>Front page : Popular movies and tvShows according to TheMovieDatabase.</li>
                        <li>In the Movies and Tv-Shows pages, a "dashboard" for each genre is displayed, show a
                            selection of
                            movies or tvshows of that particular genre, and uses lazy loading when scrolling down.
                        </li>
                        <li>The dashboards display lots of info, including a preview, for each item on hover (or click
                            in
                            cellphone mode).
                        </li>
                        <li>A nice homemade logo redirects you to the home page.</li>
                        <li>Nice "custom" animation (<a href="https://dribbble.com/shots/1868423-Cat-and-Mouse-Loading">available
                            here</a> thanks to Shea Lewis), and error message display (<a href="img/deadCat.png">available
                            here</a>).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>