<div>
<nav class="navbar navbar-inverse navbar-static-top umovie-font" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="pull-left" href="#/home"><img ng-src="img/LogoClean2.png"></a>
            <button ng-if="user && user != {}" type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div ng-if="user && user != {}" class="navbar-text" ng-controller="search-controller" >

                <form ng-submit="initSearch()" name="search-form">
                    <div class="search-input-group">
                        <input class="search-input" type="search" name="query" ng-model="query" autocomplete="off" placeholder="Search...">
                        <div class="search-filters">
                            <label><input type="radio" name="filter" ng-model="queryType" value="All" checked="checked"/>All</label>
                            <label><input type="radio" name="filter" ng-model="queryType" value="Movies"/>Movies</label>
                            <label><input type="radio" name="filter" ng-model="queryType" value="TvShows"/>TvShows</label>
                            <label><input type="radio" name="filter" ng-model="queryType" value="Actors"/>Actors</label>
                            <label><input type="radio" name="filter" ng-model="queryType" value="Users"/>Users</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="user && user != {}">
        <div class="collapse nav navbar-collapse" id = "navbar-collapse-1" ng-controller="user-menu-controller">

            <ul class="nav navbar-nav">
                <li><a href="#/movies">Movies</a></li>
                <li><a href="#/tvshows">Tv-Shows</a></li>
                <li><a href="#/actor">Actors</a></li>
            </ul>

            <div class="navbar-text pull-right" ng-if="userIsLogged">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{user.username}}<span class="caret"></span></a>
                <img ng-if="!user.picture" id="avatar" gravatar-src="'{{user.email}}'" gravatar-size="45">
                <img ng-if="user.picture" id="avatar" ng-src="{{user.picture}}" size="45">

                <ul class="dropdown-menu pull-right">
                    <li><a href="#/users/{{user.id}}">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#/users/{{user.id}}/watchlist">My Watchlist</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#/about">About this project</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</nav>
</div>
<script>
    $(document).ready(function($){

        $('.search-filters').hide();

        $('.search-input').on('click', function(){
            if ($('.search-filters').is(":hidden")){
                $('.search-filters').slideToggle();
            }
        });

        $('.search-input').focusout(function(){
            if ($('.search-filters').is(":visible")){
                $('.search-filters').slideToggle();
            }
        });

        $('.search-filters input[type="radio"]').on('click', function(){
            var placeholder_text = $(this).closest('label').text();
            $('.search-input').attr('placeholder', 'search: '+placeholder_text).focus();
        });

    });
</script>