<div class="ajax-loading" ng-show="isLoading">
    <img src="img/cat-mouse_Transparent.gif">
</div>
<div class="dashboard-header" ng-hide="isLoading">
    <h2>{{user.name}} - <a href="mailto:{{user.email}}">{{user.email}}</a></h2>
    <a class="btn btn-view-watchlist" href="#/users/{{user.id}}/watchlist">See my watchlists</a>
</div>
<div class="dashboard-container" ng-if="user.following.length === 0">
    <p>I'm so lonely that even UMovie tell me so!</p>
</div>
<div class="dashboard-container" ng-if="user.following.length > 0">
    <h2>Following</h2>
    <ul class="following-user">
        <li class="following-user-profile" ng-repeat="followingUser in user.following">
            <span><a href="#/users/{{followingUser.id}}">{{followingUser.name}}</a> - <a href="mailto:{{followingUser.email}}"></a></span>
            <a class="btn btn-view-watchlist" href="#/users/{{user.id}}/watchlist">See my friend watchlists</a>
        </li>
    </ul>
</div>
