<div class="ajax-loading" ng-show="isLoading">
    <img src="img/cat-mouse_Transparent.gif">
</div>
<div class="dashboard-container user-profile" ng-hide="isLoading">
    <div class="dashboard-header user-header">
        <img ng-if="!user.picture" class="dashboard-header avatar" gravatar-src="'{{user.email}}'" gravatar-size="300">
        <img ng-if="user.picture" class="dashboard-header avatar" ng-src="{{user.picture | imageSize:100:100}}">

        <h2>{{user.username}}
            <button class="btn btn-add-friend pull-right" ng-click="addFriend(user)"
                    ng-if="isNotLoggedUser(user) == true && isInFollowing(user) == false">Add friend
            </button>
            <button class="btn btn-add-friend pull-right" ng-click="deleteFriend(user)"
                    ng-if="isInFollowing(user) == true">Remove friend
            </button>
        </h2>

        <h3 id="user-email">Email : <a href="mailto:{{user.email}}">{{user.email}}</a></h3>
        <a class="btn btn-view-watchlist" href="#/users/{{user.id}}/watchlist">See my watchlists</a>
    </div>
    <div id="user-no-follower" ng-if="user.following.length === 0">
        <h2>Following</h2>
        <h3>I'm so lonely that even UMovie tell me so!</h3>
    </div>
    <div id="user-with-follower" ng-if="user.following.length > 0">
        <h2 class="following-header">Following</h2>
        {{user.following.length}}
        <slick settings="slickFeatureConfig" center-mode="true">
            <div class="overlay-image" image-overlay ng-repeat="followingUser in user.following">
                <div class="overlay" id="overlay-feature-{{$index}}">
                    <h2><a href="#/users/{{followingUser.id}}">{{followingUser.username}}</a>
                        <a class="glyphicon glyphicon-remove pull-right" href=""
                           ng-click="deleteFriend(followingUser)"></a>
                    </h2>

                    <h4><label class="following-email">Send him an email</label><a
                            href="mailto:{{followingUser.email }}">{{followingUser.email |cut:true:20:'...'}}</a></h4>
                    <a href="#/users/{{followingUser.id}}/watchlist" class="btn dashboard-detail">See my friend
                        watchlists</a>
                </div>
                <img ng-if="!followingUser.picture" class="user-avatar" gravatar-src="'{{followingUser.email}}'"
                     gravatar-size="300">
                <img ng-if="followingUser.picture" class="user-avatar"
                     ng-src="{{followingUser.picture | imageSize:300:300}}">
            </div>
        </slick>
    </div>

</div>