<div class="ajax-loading" ng-if="isLoading">
    <img src="img/cat-mouse_Transparent.gif">
</div>
<div class="dashboard-header">
    <h2>Watchlist of {{loggedUser}}<span class="dropdown"><a
            class="dropdown-toggle glyphicon glyphicon-plus" data-toggle="dropdown"
            role="button" aria-haspopup="true"
            aria-expanded="true"></a>
    <ul class="dropdown-menu pull-right">
        <li><label>Name</label> <input class="watchlist-name" type="text" value="name" ng-model="watchlistName" ng-init="watchlistName = ''">
            <button class="btn btn-add-watchlist" ng-click="addWatchlist(watchlistName, $event)" ng-disabled="!isStringValid(watchlistName)">Add</button>
        </li>
    </ul>
</span></h2>
</div>
<div class="dashboard-container" ng-repeat="watchlist in userWatchlist">
    <div id="featured" class="col-md-10">
        <h2 class="watchlist-header">{{watchlist.name}}
            <span class="dropdown"><a
                    class="dropdown-toggle glyphicon glyphicon-pencil" data-toggle="dropdown"
                    role="button" aria-haspopup="true"
                    aria-expanded="true"></a>
            <ul class="dropdown-menu">
                <li><label>Name</label> <input class="watchlist-name" type="text" value="name" ng-model="newWatchlistName$index" ng-init="newWatchlistName$index = ''">
                    <button class="btn btn-modify-watchlist"
                            ng-click="modifyWatchlistName(watchlist, newWatchlistName$index, $event)" ng-disabled="!isStringValid(newWatchlistName$index)">
                        Save
                    </button>
                </li>
            </ul>
            </span>
            <a
                    class="glyphicon glyphicon-remove" role="button"
                    ng-click="removeWatchlist(watchlist)"></a></h2>

        <div class="dashboard-container" ng-if="watchlist.movies.length == 0">
            <h4>This watchlist is feeling lonely!</h4>
        </div>
        <slick settings="slickFeatureConfig" data="watchlist.movies" center-mode="true">
            <div class="overlay-image" image-overlay ng-repeat="movie in watchlist.movies">
                <div class="overlay" id="overlay-feature-{{$index}}">
                    <a class="glyphicon glyphicon-remove pull-right" role="button"
                       ng-click="removeMovieFromWatchlist(watchlist, movie)"></a>

                    <h2>{{movie.trackName || movie.collectionName}} </h2>
                    <iframe id="feature-{{$index}}" ob-lazytube width="95%" height="50%"
                            src="{{movie.previewUrl | trusted}}" seamless frameborder="0" allowfullscreen
                            enablejsapi="1"></iframe>
                    <p ng-bind-html="movie.longDescription|cut:true:200:'...'|htmlToPlaintext|unicode"></p>
                    <a href="#/movies/{{movie.trackId}}" class="btn btn-default dashboard-detail"
                       ng-click="selectMovie(movie)">View
                        details</a>
                </div>
                <img ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
            </div>
        </slick>
    </div>
</div>