<div class="ajax-loading" ng-if="isLoading">
    <img src="img/cat-mouse_Transparent.gif">
</div>
<div class="dashboard-header">
    <h2>Watchlist of {{loggedUser}}<a class="glyphicon glyphicon-plus" role="button"
                                      ng-click=""></a></h2>
</div>
<div class="dashboard-container" ng-repeat="watchlist in userWatchlist">
    <div id="featured" class="col-md-10">
        <h2>{{watchlist.name}} <a class="glyphicon glyphicon-remove" role="button"
                                  ng-click="removeWatchlist(watchlist)"></a></h2>
        <slick settings="slickFeatureConfig" data="watchlist.movies" center-mode="true">
            <div class="overlay-image" image-overlay ng-repeat="movie in watchlist.movies">
                <div class="overlay" id="overlay-feature-{{$index}}">
                    <a class="glyphicon glyphicon-minus pull-right" role="button"
                       ng-click="removeMovieFromWatchlist(watchlist, movie)"></a>

                    <h2>{{movie.trackName || movie.collectionName}} </h2>
                    <iframe id="feature-{{$index}}" ob-lazytube width="95%" height="50%"
                            src="{{movie.previewUrl | trusted}}" seamless frameborder="0" allowfullscreen
                            enablejsapi="1"></iframe>
                    <p ng-bind-html="movie.longDescription|cut:true:200:'...'|htmlToPlaintext|unicode"></p>
                    <a href="#/movies/{{movie.trackId}}" class="btn btn-default dashboard-detail"
                       ng-click="selectMovie(movie)">View
                        details</a>
                </div>
                <img ng-src="{{movie.artworkUrl100 | imageSize:300:300}}">
            </div>
        </slick>
    </div>
</div>