<div class="col-md-6 col-md-offset-3 panel-body">
  <div ng-show="notRegister">
    <h2>Register</h2>
    <form name="form" role="form" ng-submit="register()">
        <div class="form-group">
            <label>First name</label>
            <input type="text" name="firstName" ng-model="firstName" class="form-control" ng-model="fir"/>
        </div>
        <div class="form-group" >
            <label>Last name</label>
            <input type="text" name="lastName" ng-model="lastName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" ng-model="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="email" ng-model="email" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Confirm E-mail</label>
            <input type="text" name="confirmEmail" ng-model="confirmEmail" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ng-model="password" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" class="form-control"/>
        </div>
        <h2>
            Preferred Genres
        </h2>
        <div ng-repeat="genre in genres">
                <input
                        type="checkbox"
                        name="selectedGenre[]"
                        value="{{genre}}"
                        ng-model="genre.selected"
                        >
            <label>{{genre.name}}
            </label>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
  </div>
  <div ng-show="!notRegister">
    <p> Click below for login </p>
      <a href="#/login" class="btn btn-link">login</a>
  </div>
</div>
