<div class="panel">
    <div class="panel-body">
        <div class="detail header">
            <h2>{{tvshow.collectionName}} <a class="btn btn-default" href="{{tvshow.collectionViewUrl}}">iTunes</a><a
                    class="glyphicon glyphicon-remove pull-right" href="" ng-click="dismiss()"></a></h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <div class="detail preview">
                    <iframe class="" src="{{tvshowEpisodes.results[0].previewUrl | trusted}}"
                            allowfullscreen
                            seamless width="100%" height="100%"></iframe>
                </div>
                <div class="detail description">
                    <ul>
                        <li><h3>{{tvshow.collectionName}}</h3></li>
                        <li><label>Genre</label> <span>{{tvshow.primaryGenreName}}</span></li>
                        <li><label>Release date</label> <span>{{tvshow.releaseDate | date:medium}}</span></li>
                        <li><label>Rating</label> <span>{{tvshow.contentAdvisoryRating}}</span></li>
                        <li><label>Description</label>

                            <p>{{tvshow.longDescription}}</p></li>
                    </ul>
                    <h4 class="detail price">Price <span>SD: {{tvshow.collectionPrice}}$ HD: {{tvshow.collectionHdPrice}}$ {{tvshow.currency}}</span>
                    </h4>
                </div>
            </div>
            <div class="row detail section">
                <div class="detail col-md-8">
                    <h3>Episodes :</h3>

                    <div ng-repeat="episode in tvshowEpisodes.results" class="row">
                        <span class="col-md-1"> <img src="{{episode.artworkUrl30}}"></span>
                        <!--<span class="col-md-2"> <iframe class="" autoplay="true" src="{{episode.previewUrl | trusted}}"-->
                        <!--seamless></iframe></span>-->
                        <span class="col-md-3">{{episode.trackNumber}} {{episode.trackName}}</span>
                        <span class="col-md-6">{{episode.shortDescription}}</span>
                        <span class="col-md-2">{{episode.releaseDate | date:medium}}</span>
                    </div>
                </div>
                <div class="detail poster col-md-4">
                    <img src="{{tvshow.artworkUrl100}}">
                </div>
            </div>
            <div class="row">
                <div class="detail comments">
                    No comments
                    <div class="comments" ng-repeat="comment in tvshow.comments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>