<div class="panel">
    <div class="ajax-loading" ng-show="isLoading">
        <img src="img/cat-mouse_Transparent.gif">
    </div>
    <div class="panel-body" ng-hide="isLoading">
        <div class="detail header">
            <h2>{{tvshow.collectionName}} <a href="{{tvshow.collectionViewUrl}}">
                <img ng-src="img/itunes.svg"/>
            </a>
                <back-button></back-button>
            </h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <div class="detail preview">
                    <youtube-preview movie="{{tvshow.trackName}}"></youtube-preview>
                    <iframe ob-lazytube width="95%" height="50%" src="{{tvshow.previewUrl|trusted}}" seamless
                            frameborder="0" allowfullscreen autoplay="true"></iframe>
                </div>
                <div class="row detail description">
                    <ul>
                        <li><h3>{{tvshow.collectionName}}</h3></li>
                        <li><label>Genre</label> <span>{{tvshow.primaryGenreName}}</span></li>
                        <li><label>Release date</label> <span>{{tvshow.releaseDate | date:medium}}</span></li>
                        <li><label>Rating</label> <span>{{tvshow.contentAdvisoryRating}}</span></li>
                        <li><label>Description</label>

                            <p ng-bind-html="tvshow.longDescription|htmlToPlaintext|unicode"></p></li>
                    </ul>

                    <price-toggle></price-toggle>
                    <h4 class="detail price" ng-hide="isHdPriceSelected">Price SD <span>{{tvshow.collectionPrice}}$ {{tvshow.currency}}</span>
                    </h4>
                    <h4 class="detail price" ng-show="isHdPriceSelected">Price HD <span>{{tvshow.collectionHdPrice}}$ {{tvshow.currency}}</span>
                    </h4>
                </div>
            </div>
            <div class="row detail section">
                <div class="detail episodes">
                    <h3>Episodes :</h3><h4 >Search: <input style="color: #404040;" class="search-input" ng-model="searchText"></h4>

                    <div ng-repeat="episode in tvshowEpisodes.results| filter:searchText">
                        <div class="episodeRow" ng-class-odd="'odd'" ng-class-even="'even'" ng-click='toggleModal(this.episode)'>
                            <span class="episodePic"> <img ng-src="{{episode.artworkUrl100 | imageSize:300:300}}"></span>
                            <span class="episodeNumber"><p>{{episode.trackNumber}}</p></span>
                            <span class="episodeName"><p>{{episode.trackName}}</p></span>
                            <span class="episodeDesc"><p
                                    ng-bind-html="episode.longDescription|cut:true:100:'...'|htmlToPlaintext|unicode"></p></span>
                            <span class="episodeRelease"><p>{{episode.releaseDate | date:medium}}</p></span>
                        </div>
                    </div>

                </div>
                <div class="detail poster">
                    <img ng-src="{{tvshow.artworkUrl100 | imageSize:300:300}}">
                </div>
            </div>
            <div class="row detail section">
                <div class="detail comments-episodes">
                    No comments
                    <div ng-repeat="comment in tvshow.comments">
                    </div>
                </div>
            </div>
            <modal-dialog show='modalShown' width= '90%' height='90%' dialog-title="Episode {{episodeModal.trackNumber}} : {{episodeModal.trackName}}">
                <div><p>{{episodeModal.collectionName}} - Episode {{episodeModal.trackNumber}}</p></div>
                <youtube-preview movie="{{episodeModal.trackName}}"></youtube-preview>
                <iframe ob-lazytube width="95%" height="50%" src="{{episodeModal.previewUrl|trusted}}" seamless
                        frameborder="0" allowfullscreen autoplay="true"></iframe>
                <span class="episodePicModal" class="col-md-3"> <img ng-src="{{episodeModal.artworkUrl100|imageSize:300:300}}"></span>
                <span class="col-md-9"><p ng-bind-html="episodeModal.longDescription|htmlToPlaintext|unicode"></p>Duration : {{episodeModal.length}}</span>

            </modal-dialog>
        </div>
    </div>
</div>
