<div class="panel">
    <div class="ajax-loading" ng-if="isLoading">
        <img src="img/cat-mouse_Transparent.gif">
    </div>
    <div class="panel-body" ng-hide="isLoading">
        <div class="detail header">
            <h2>{{tvshow.collectionName}} <a href="{{tvshow.collectionViewUrl}}">
                <img ng-src="img/itunes.svg"/>
            </a>
                <back-button></back-button>
            </h2>
        </div>
        <div class="detail body">
            <div class="row detail section">
                <div class="detail preview">
                    <div class="embed-responsive embed-responsive-16by9">">
                        <youtube-video class="embed-responsive-item" id="videoSeason"
                                       video-url="tvshow.previewUrl"></youtube-video>
                    </div>
                </div>
                <div class="row detail description">
                    <ul>
                        <li><h3>{{tvshow.collectionName}}</h3></li>
                        <li><label>Genre</label> <span>{{tvshow.primaryGenreName}}</span></li>
                        <li><label>Release date</label> <span>{{tvshow.releaseDate | date:medium}}</span></li>
                        <li><label>Rating</label> <span>{{tvshow.contentAdvisoryRating}}</span></li>
                        <li><label>Description</label>

                            <p ng-bind-html="tvshow.longDescription|htmlToPlaintext|unicode"></p></li>
                    </ul>

                    <price-toggle></price-toggle>
                    <h4 class="detail price" ng-if="!isHdPriceSelected">Price SD <span>{{tvshow.collectionPrice}}$ {{tvshow.currency}}</span>
                    </h4>
                    <h4 class="detail price" ng-if="isHdPriceSelected">Price HD <span>{{tvshow.collectionHdPrice}}$ {{tvshow.currency}}</span>
                    </h4>
                </div>
            </div>
            <div class="row detail section">
                <div class="detail episodes">
                    <h3>Episodes :</h3><h4>Search: <input style="color: #404040;" class="search-input"
                                                          ng-model="searchText"></h4>

                    <div ng-repeat="episode in tvshowEpisodes.results| filter:searchText">
                        <div class="episodeRow" ng-class-odd="'odd'" ng-class-even="'even'"
                             ng-click='toggleModal(this.episode)'>
                            <span class="episodePic"> <img
                                    ng-src="{{episode.artworkUrl100 | imageSize:300:300}}"></span>
                            <span class="episodeNumber"><p>{{episode.trackNumber}}</p></span>
                            <span class="episodeName"><p>{{episode.trackName}}</p></span>
                            <span class="episodeDesc"><p
                                    ng-bind-html="episode.longDescription|cut:true:100:'...'|htmlToPlaintext|unicode"></p></span>
                            <span class="episodeRelease"><p>{{episode.releaseDate | date:medium}}</p></span>
                        </div>
                    </div>

                </div>
                <div class="detail poster">
                    <img ng-src="{{tvshow.artworkUrl100 | imageSize:300:300}}">
                </div>
            </div>
            <div class="row detail section">
              <script>
              var scrolled=0;
              $("#downClick").on("click" ,function(){
                if($("#inner-comment").scrollTop() + $("#inner-comment").innerHeight()>=$("#inner-comment")[0].scrollHeight)
                {}else{scrolled = scrolled+200;}
                  $("#inner-comment").animate({scrollTop:  scrolled});
              });
              $("#upClick").on("click" ,function(){
                scrolled = scrolled - 200;
                if(scrolled <= 0){scrolled = 0;}
                  $("#inner-comment").animate({scrollTop:  scrolled});
                });
              </script>
                <form name="commentForm" role="form" ng-submit="addComment(userComment)">
                  <h3> Wanna make a comment?! </h3>
                  <div class="form-group">
                    <textarea rows="5" class="form-control resize-none" id="tvshowCommentTextArea" type="text" name="message" required ng-model="userComment"/>
                    <div class="top-buffer-15">
                      <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Add comment</button>
                    </div>
                  </div>
                </form>

                <div class="button-fixed" style="text-align: center;">
                  <button id="upClick" class="invisible-button"><img src="/img/up-arrow.png" height="35"/></button>
                </div>

                <div id="inner-comment" style="overflow-y:hidden; overflow-x:hidden;">
                  <div ng-repeat="comment in tvshowsComments">
                    <div class="row top-buffer-30">
                        <div class="col-md-1">
                          <div display="block">
                              <img ng-if="!comment.author_picture" class="avatar" gravatar-src="'{{comment.author_email}}'" gravatar-size="75">
                              <img ng-if="comment.author_picture" class="avatar" ng-src="{{comment.author_picture}}" size="75">
                            <h4>{{comment.author}}</h4>
                          </div>
                        </div>
                        <div class="col-md-11">
                          <div class="dialogbox">
                            <div class="body">
                              <span class="tip tip-left"></span>
                              <div class="message">
                                <span>{{comment.content}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="button-fixed" style="text-align: center; display:block; width:100%;">
                  <button id="downClick" class="invisible-button"><img src="/img/down-arrow.png" height="35"/></button>
                </div>

            </div>
            <modal-dialog id="titleModal" show='modalShown' width='90%' height='90%'
                          dialog-title="Episode {{episodeModal.trackNumber}} : {{episodeModal.trackName |cut:true:70:'...'}}">
                <div><p>{{episodeModal.collectionName}} - Episode {{episodeModal.trackNumber}}</p></div>
                <div class="col-md-6 col-sm-12 col-xs-12"> <youtube-video  player="modalPlayer" id="modalPlayer" video-url="episodeModal.previewUrl" player-width="'100%'"></youtube-video></div>
                <br>
                <span class="col-md-6 col-sm-9 col-xs-9"><p ng-bind-html="episodeModal.shortDescription|htmlToPlaintext|unicode"></p>Duration : {{episodeModal.length}}</span>
                <span class="episodePicModal col-md-6 col-sm-3 col-xs-3"> <img ng-src="{{episodeModal.artworkUrl100|imageSize:300:300}}"></span>
            </modal-dialog>
        </div>
    </div>
</div>
